# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma

ENV.TXT

# Sauvegardes de base de données
BD_ORIGINALE.sql
DUMP_COMPLET.TXT
backup_database-eief_26_08_2026_23H_33.sql
reference_data.sql
schema.sql
script_clean.sql

# Sauvegardes de base de données
BD_ORIGINALE.sql
DUMP_COMPLET.TXT
backup_database-eief_26_08_2026_23H_33.sql
reference_data.sql
schema.sql
script_clean.sql
