--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: annees_scolaires; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.annees_scolaires (id, libelle, date_debut, date_fin, est_active, created_at) FROM stdin;
1	2025-2026	2025-09-01	2026-06-30	t	2026-07-18 00:20:41.256555
2	2025-2026	2025-09-01	2026-06-30	f	2026-07-18 19:48:50.980978
3	2025-2026	2025-09-01	2026-06-30	f	2026-07-19 20:58:51.648536
\.


--
-- Data for Name: articles_librairie; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: bus; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.bus (id, immatriculation, capacite, chauffeur_nom, chauffeur_tel) FROM stdin;
7	25	60	ABDOUL KARIM SYLLA	625400031
6	AZ 2089 05	60	BALDE MOHAMED	611990536
10	27	33	IBRAHIMA SORY SOUMAH	620494250
5	AI 5221 02	60	MORY CONDE	622769669
15	2AI 5221 02	30	MORY CONDE	622769669
16	2AZ 2089 05	30	BALDE MOHAMED	611990536
18	26	30	ABDOUL KARIM SYLLA	625400031
19	28	30	IBRAHIMA SORY SOUMAH	620494250
20	UN TRAJET	30	TOUS	625549579
\.


--
-- Data for Name: cantine_menus; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cantine_menus (id, date, plat, accompagnement, dessert, regime_special, prix, prix_annuel) FROM stdin;
3	2026-08-23	CANTINE ANNUELLE			f	\N	3600000
\.


--
-- Data for Name: categories_depenses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.categories_depenses (id, code, libelle, type, description, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: categories_quiz; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.categories_quiz (id, nom, description, couleur, icon, est_active, created_at) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: lignes_transport; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: matieres; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.matieres (id, nom, coefficient, description) FROM stdin;
1	TT	1	\N
\.


--
-- Data for Name: services_annexes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.services_annexes (id, nom, montant_mensuel, type, description, actif, created_at, updated_at) FROM stdin;
\.


--
-- Name: annees_scolaires_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.annees_scolaires_id_seq', 3, true);


--
-- Name: articles_librairie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.articles_librairie_id_seq', 34, true);


--
-- Name: bus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.bus_id_seq', 20, true);


--
-- Name: cantine_menus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cantine_menus_id_seq', 3, true);


--
-- Name: categories_depenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categories_depenses_id_seq', 1, false);


--
-- Name: categories_quiz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categories_quiz_id_seq', 1, false);


--
-- Name: classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.classes_id_seq', 47, true);


--
-- Name: lignes_transport_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.lignes_transport_id_seq', 10, true);


--
-- Name: matieres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.matieres_id_seq', 1, true);


--
-- Name: services_annexes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.services_annexes_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

